<% include include/header %>
<div class="row">
    <div id="left-div" class="col-lg-12">
        <center><img src="images/houzio-logo.png" width="300px" /></center> <br><br><br>
        <div id="testDiv">
            <center><img id="cardIcon" src="images/leak.png" width="50px" /></center>
            <div id="reportHeader2">
                <center>
                    <%= claim_count %> of claims found on the property or subject:
                    <br>
                    <br>
                    <div id="line"></div>
                    <font color="red">
                        <%= claim_count %> items found</font>
                </center>
            </div>
        </div>
        <div id="reportHeader">
            <center>
                <br>
                <p id="descriptionText">The next step is to get more details about your home. To do this legally, we
                    need to request approval from the current owner of the property. We'll take care of this! </p>
                <br>
                <br>

                <p>Who is the current owner (seller) of the home you are buying?</p><br>
                <div class="form-group">
                    <input type="email" id="sellersEmail" class="form-control" placeholder="seller's email" name="sellersEmail" /><br><br>
                </div>
                <br><a href="#" id="show_realtor">send copy of CLUE to my realtor</a>
                <p id="realtor_label" class="hide">Realtor's Email address:</p>
                <div class="form-group hide" id="realtor">
                    <input type="email" name="realtorEmail" placeholder="realtor's email" class="form-control" /><br><br>
                </div>
                <br>
                <br>

                <button id="requestButton" type="button" class="btn btn-primary btn-lg">Request</button>
            </center>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div id="testDiv">
            <center><img id="cardIcon" src="images/price-tag.png" width="50px" /></center>
            <div id="reportHeader2">
                <center>price estimate:
                    <br>
                    <br>
                    <div id="line"></div>
                    <font color="green">
                        <%= est_price%>
                    </font>
                </center>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="testDiv2">
            <center><img id="cardIcon" src="images/bar-chart.png" width="50px" /></center>
            <div id="reportHeader2">
                <center>houzio insurability score:
                    <br>
                    <br>
                    <div id="line"></div>
                    <font color="dodgerblue"><%= total %></font>
                    <table id="uwAlerts" class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="images/warning.png" height="15px"></td>
                                <td>Underwriting</td>
                                <td><b>
                                        <font color="#6666ff" id="underwriting">
                                            <%= underwriting_score %>
                                        </font>
                                    </b></td>
                                <td><span class="glyphicon glyphicon-info-sign"></span></td>
                            </tr>
                            <tr>
                                <td><img src="images/warning.png" height="15px" /></td>
                                <td>Pricing</td>
                                <td><b>
                                        <font color="#6de996" id="pricing">
                                            <%= pricing %>
                                        </font>
                                    </b></td>
                                <td><span class="glyphicon glyphicon-info-sign"></span></td>
                            </tr>
                            <tr>
                                <td><img src="images/warning.png" height="15px" /></td>
                                <td>Claim History</td>
                                <td><b>
                                        <font color="#e27379" id="claim">
                                            <%= claim_score %>
                                        </font>
                                    </b></td>
                                <td><span class="glyphicon glyphicon-info-sign"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>

        </div>
        <div class="col-lg-12">    
            <div id="canvas">  
            <canvas id="myChart" width="200" height="250"></canvas>
            </div> </div>
            <div id="left-div" class="col-lg-12">
                <h2><center><font color="indianred">Underwriting Alerts</font><br></h2>
                
                <center>
                <table id="uwAlerts" class="table">
                <thead>
            
                </thead>
                <tbody>
                    <% if(warning[0]) { %>
                      <tr>
                        <td><img src="images/warning.png" height="15px"></td>  
                          <td>Previous Claims</td>
                  </tr>    
                  <% } %>
                  <% if(warning[1]) { %>
                    <tr>
                    <td><img src="images/warning.png" height="15px"></td>      
                    <td>Hard to Write Dog Breeds</td>
                  </tr>
                  <% } %>
                  <% if(warning[2]) { %>
                  <tr>
                    <td><img src="images/warning.png" height="15px"></td>    
                    <td>Flat Roof</td>
                  </tr>
                  <% } %>
                  <% if(warning[3]) { %>
                  <tr>
                    <td><img src="images/warning.png" height="15px"></td>    
                    <td>Old Age of Roof</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
                </center>
                </div>     </div>   
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script>
            var underwriting = document.getElementById('underwriting').innerHTML;
            var pricing = document.getElementById('pricing').innerHTML;
            var claim = document.getElementById('claim').innerHTML;
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'polarArea',
                data: {
                    labels: ['Underwriting', 'Pricing', 'Claims',],
                    datasets: [{
                        label:'Score',
                       backgroundColor:['rgba(0, 0, 255, 0.6)','rgba(12, 219, 80, 0.6)','rgba(219, 80, 88, 0.8)'],
                        data:[
                            parseInt(underwriting), 
                            parseInt(pricing), 
                            parseInt(claim),
                            
                        ]
                    }]
                },
                options:{}
            });
            $('#show_realtor').on('click', function(e) {
                $('#realtor_label').removeClass('hide');
                $('#realtor').removeClass('hide');
            });

            $('#requestButton').on('click', function(e) {
                $('#requestButton').attr('disabled');
                $.ajax({
                    url: '/send_request',
                    type: 'post',
                    header: {
                        'content-type': 'application/json'
                    },
                    data: {
                        'seller_email': $('#sellersEmail').val(),
                        'realtor_email': $('#realtorEmail').val()
                    },
                    success: function(res){
                        alert("Successfully sent");
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
            </script>
        
<% include include/footer %>